amqp==5.0.2
amqplib==1.0.2
anyjson==0.3.3
billiard==3.6.3.0
binaryornot==0.4.4
celery==5.0.2
Django==3.1.3
django-filter==2.4.0
django-grappelli==2.14.2
djangorestframework==3.12.2
djangorestframework-csv==2.1.0
django-rest-auth==0.9.5
django-allauth==0.43.0
ecdsa==0.16.1
gunicorn==20.0.4
Jinja2==2.11.2
kombu==5.0.2
Markdown==3.3.3
MarkupSafe==1.1.1
mock==4.0.2
paramiko==2.7.2
psycopg2-binary==2.8.6
pycrypto==2.6.1
python-dateutil==2.8.1
python3-memcached==1.51
pytz==2020.4
PyYAML==5.3.1
simplejson==3.17.2
six==1.15.0
virtualenv==20.7.0
